@import '../../styles.styl'


.mission.statement
  background-color: appAccent
  width: 100%
  height: 10em
  display: table
  padding: 1em
  padding-top: 0

  i
    color: appPrimary
    text-shadow: 2px 2px 0 appAccent
    font-size: 700%
    display: table-cell
    opacity: .99

  p
    font-size: 150%
    font-family: appHeader
    color: black
    display: table-cell

@media (max-width tablet)
  .mission.statement
    padding-bottom 2em

@media (max-width mobileL)
  .mission.statement
    i
      font-size: 500%
