@import '../../styles.styl'

.image
  position: relative
  background-position-y: center
  -webkit-background-size: cover
  background-size: cover
  height: 20em
  text-align: center
  display: table
  width: 100%


  h1
    font-family: appTitle
    font-size: 500%
    color: white
    text-shadow: 1px 1px 1px black
    display: table-cell
    vertical-align: middle

@media (max-width tablet)
  .image
    h1
      vertical-align: top

@media (max-width mobileL)
  .image
    height: 15em
    h1
      font-size: 350%
