@import '../../styles.styl'

.footer
  background-color appAccent
  position: relative
  text-align: center

.list
  margin-top: 0
  padding: 1.5em _
  text-align: center

  .item
    display: inline-block

    img
      margin-top: -5px
