<div class="footer">
  <div class="ui list">
    <h3>Like our site? Let us know!</h3>
    <a [href]="'mailto:' + email" class="item">
      <img class="ui avatar image" [src]="logo">
      <span class="content">{{ email }}</span>
    </a>
  </div>
</div>
