<div class="staff" [ngStyle]="{ backgroundImage: 'url(' + backgroundUrl + ')' }">
  <h1>Our Staff</h1>
  <div class="ui cards">
    <div class="card" *ngFor="let employee of staff; let i = index">
      <div class="blurring dimmable image" (mouseenter)="hover[i] = true;" (mouseleave)="hover[i] = false">
        <sui-dimmer [isDimmed]="hover[i]">
          <p>{{ employee.bio }}</p>
        </sui-dimmer>
        <img [src]="employee.imageUrl">
      </div>
      <div class="content">
        <div class="header">{{ employee.firstname }} <span>{{ employee.lastname }}</span></div>
        <div class="meta">{{ employee.position }}</div>
      </div>
      <div class="extra content">
        <div class="ui meta list">
          <a [href]="'mailto:' + employee.email" class="item">
            <i class="mail icon"></i>
            {{ employee.email }}
          </a>
          <a [href]="'tel:' + employee.phone" class="item">
            <i class="phone icon"></i>
            {{ employee.phone }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
