@import '../../styles.styl'

.staff
  text-align: center
  position: relative
  background-position-y: -1px

  h1
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    top: -20px;
    color: white;
    text-shadow: 2px 2px 0 appAccent


  .cards
    margin: auto
    padding: 1em
    width: fit-content

    .card
      background-color: appAccent

      .image
        sui-dimmer
          display: flex _

          a
            box-shadow: 0 0 0 2px appAccent inset !important
            color: appAccent
          a:hover
            background-color: appAccent
            color: #000000cc

      .content
        .header
          span
            color: appPrimary

@media (max-width: 940px)
  .staff
    .cards
      width: min-content
